# Ignore large data files that GitHub rejects (>100MB)
data/creditcard.csv
data/synthetic_creditcard.csv

# Ignore standard python items
venv/
__pycache__/
*.pyc

# Ignore environment variables
.env

# DO NOT ignore fraud_db.sqlite, we need it for Streamlit!
